.UserContainer {
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-size: 1.1em;
}
.User {
	
	padding: 0 1.3em;
	width: 100vw;
	height: 80vh;
	
	background: #fff;
	
}
.UserContainer .User .userNav {
	
	width: 100%;
	height: 4em;

	display: flex;
	align-items: center;
}
.UserContainer .User .userNav img {
	
	position: relative;
	left: -25px;
	padding: 10px;
	height: 100%;
	opacity: 0.5;
}
.User input[type='text'],
input[type='password'] {
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.submit {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
}
.User input[type='button'] {
	position: absolute;
	width: 90%;
	height: 2.5em;
	color: #ffffff;
	
	border: none;
	outline: none;
	border-radius: 5px;
    background: rgb(76,44,205);
background: linear-gradient(90deg, rgba(76,44,205,1) 0%, rgba(148,187,233,1) 100%);
box-shadow: rgba(76,44,205,0.5) 0px 5px 25px, rgba(0, 0, 0, 0.05) 0px 5px 25px;
}

.User h5{
	text-align: center;	
	color: greenyellow;
	margin-top: 3.5em;
}
.UserContainer #loginLogo{
	position: absolute;
	top: 0.7em;
	left:2em;
	display: none;
	width:9em;
	height:9em;
}
@media (min-width:720px){
	.UserContainer{
		height:100vh;
		background: url('../../images/Headphones_music_black_background_akg_1920x1200.jpg');
		background-position: center;
		background-size: cover;
		background-clip: cover;
	}
	.User{
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		
		width: 30vw;
	}
	.UserContainer #loginLogo{
		display: block;
	}
}